{% extends 'base.html.twig' %}


{% block title 'Nouveau Carousel' %}

{% block body %}
	<h1 class="text-center text-muted m-5">Creer un carousel</h1>
	<div class="row">
		<div class="col-6 mx-auto">
			
				{{ form_start(monForm) }}

					{{ form_widget(monForm)}}
					<input class="btn btn-primary btn-block " type="submit" value="Create carousel" formnovalidate>

				{{ form_end(monForm) }}
		</div>
	</div>
	
	
{% endblock %}