{% extends 'base.html.twig' %}


{% block title 'Edit Carousel' ~ carousel.id %}


{% block body %}
	<div class="row">
		<div class="col-6 mx-auto">
		<h1>Edit Carousel # {{ carousel.id }}</h1>
			{{ form_start(monForm) }}

			{{ form_widget(monForm)}}
			<input class="btn btn-primary btn-block" type="submit" value="Update carousel" formnovalidate >

			{{ form_end(monForm) }}
		</div>
	</div>
{% endblock %}