{% extends 'layouts/base.html.twig' %}

{% block title %}Réinitialisez votre mot de passe{% endblock %}

{% block body %}
    <div class="">
    	<div class="col-6 mx-auto">
    		<h1 class="mb-5 mt-5 text-center">Réinitialisez votre mot de passe</h1>

   	 		{{ form_start(resetForm) }}
        	{{ form_row(resetForm.plainPassword) }}
        	<button class="btn btn-success btn-block mb-5">Réinitialisez votre mot de passe</button>
    		{{ form_end(resetForm) }}
    	</div>
    </div>
{% endblock %}
