{% extends 'compte_user/user_layouts/base.html.twig' %}


{% block title 'Editer un utilisateur ' ~ user.id %}


{% block body %}
	<div class="row">
		<div class="col-6 mx-auto m-5">
		<h1>Editer le vendeur # {{ user.id }}</h1>
			{{ form_start(monForm) }}

			{{ form_widget(monForm)}}
			<input class="btn btn-primary btn-block" type="submit" value="Mettez à jour" formnovalidate >

			{{ form_end(monForm) }}
		</div>
	</div>
{% endblock %}